.sc4 {
    text-align: center;
    background-color: #eef8ff;

    .inner {
        justify-content: center;
    }

    @media screen and (max-width:400px){
        .inner {
            .t-wrap {
                .star {
                    p.txt_3 {
                        font-size: 1.7rem;
                    }

                    p.txt_4 {
                        font-size: 1.4rem;
                    }
                }
            }
        }
    }
}